# This file contains names of files/folders not to add to the remote
# Git repository but to keep in your WalnutiQ folder on your local computer

# Gradle 
.gradle
/build

# IntelliJ 
.idea
*.iml
*.iws
classes/

# Java
*.class

# Eclipse
.classpath
bin/**
